body {
background-color:darkorange;



}
#leopardepaia {
font-size: 100px;

}

#gostariadepegarumadoughdegraçapor10robuxissonaoeumgolpecoonfiaconfiaCONFIA {
float: right;

}

canvas {
margin-top:90;    


}